/* NATHAN EDIT, 8-10-24 -> add um monte de classe .ericsson-* */
body {}

.container-fluid {
    padding-left: 0;
}

.container-menu {
    position: absolute;
    display: flex;
    height: 100%;
    width: 15%;

}

.container-menu-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    cursor: pointer;
    background-color: #323232;
    transition: all 0.5s ease-in-out;
}

.icon-menu {
    width: 55%;
    height: 7%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.3s ease-in-out;
    text-align: left !important;
}

.icon-menu::before,
.icon-menu::after {
    content: "";
    position: absolute;
    width: 55%;
    height: 7%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.3s ease-in-out;
}

.icon-menu::before {
    transform: translateY(-250%);
}

.icon-menu::after {
    transform: translateY(250%);
}

.menu.open .icon-menu {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu.open .icon-menu::before {
    transform: rotate(45deg) translate(38px, -38px);
}

.menu.open .icon-menu::after {
    transform: rotate(-45deg) translate(38px, 38px);
}

.logo {
    cursor: pointer;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 300;
}

.icon-logo {
    margin-left: 2%;
    height: 100%;
    width: auto;
}

.label-logo {}

.container-nav {
    z-index: 9999;
    position: absolute;
    top: 100%;
    display: none;
    height: 95vh;
    padding: 0;
    width: 65vw;
}

.dropdown-techs {
    display: none;
    width: 20%;
    height: 100%;
    background-color: white;
    border-color: #bebebe;
    box-shadow: 0 2px 4px 0px #4e4e4e;
    padding-top: 1%;
}

.search-box {

    margin-top: 3%;
    margin-left: 4%;
    width: 90%;
    border: 2px solid #4e4e4e;
    border-radius: 3%;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input-search {
    border: 0;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 90%;
}

.vendors {
    width: 90%;
    margin-left: 3%;
    text-align: start;
}

.container-vendor {
    margin-bottom: 10%;
    margin-top: 10%;
}

.line {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 95%;
    background: #000000;
    opacity: 80%;
    height: 3px;
}

.label-tech {
    display: flex;
    margin-left: 2%;
    width: 95%;
    height: 5%;
    align-items: center;
    justify-content: space-between;
}

.label-tech spam {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 1%;
    font-size: 100% !important;
    color: #050505;
}

.HUAWEI-name, .NOKIA-name, .ERICSSON-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-right: 9px;
}

.all-pages {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    
}

.all-pages spam {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 3%;
    font-size: 85% !important;
    color: #000000c0;
}

.gsm-options-container spam,
.umts-options-container spam,
.lte-options-container spam,
.nr-options-container spam,
.nokia-gsm-options-container spam,
.nokia-nr-options-container spam,
.nokia-lte-options-container spam,
.nokia-umts-options-container spam,
.ericsson-gsm-options-container spam,
.ericsson-nr-options-container spam,
.ericsson-lte-options-container spam,
.ericsson-umts-options-container spam {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 1%;
    font-size: 80% !important;
    color: #000000c0;;
    margin-bottom: 5%;
}

.vendors spam,
.gsm-container spam,
.nokia-gsm,
.ericsson-gsm {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 1%;
    font-size: 100% !important;
    color: #2c2c2c;
}

.techs ul,
.options-vendor ul,
.gsm-container ul,
.umts-container ul,
.lte-container ul,
.nr-container ul,
.nokia-gsm-container ul
.ericsson-gsm-container ul {
    width: 95%;
    list-style-type: '- ';
    margin-top: 2.5%;
    padding-left: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5%;
    font-size: 90% !important;
    color: #636363;
}

.techs ul li,
.HUAWEI-name,
.NOKIA-name,
.ERICSSON-name {
    margin-bottom: 2%;
    padding: 0 8px;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border: 2px solid;
    border-image: repeating-linear-gradient(135deg, #000000 0 10px, #000000 0 20px, #000000 0 30px) 8;
    -webkit-mask:
        conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
        conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0 var(--_i, 200%)/var(--_i, 8px) 200% border-box no-repeat,
        linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
}

.techs ul li:hover,
.HUAWEI-name:hover {
    --_i: 100%;
    color: #000000;
    opacity: 80%;
    transition: .3s, -webkit-mask-size .3s .3s;

}

.options-vendor ul li {
    margin-bottom: 2%;
    margin-left: 5%;
    cursor: pointer;
    align-items: center;
}

.pages-without-tech a,
.options-vendor ul li a,
.gsm-container a,
.umts-container a,
.lte-container a,
.nr-container a,
.nokia-gsm-container a,
.ericsson-gsm-container a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1%;
    font-size: 110% !important;
    color: #636363 !important;
}

.pages-without-tech a:hover,
.options-vendor ul li a:hover,
.gsm-container a:hover,
.umts-container a:hover,
.lte-container a:hover,
.nr-container a:hover,
.nokia-gsm-container a:hover,
.ericsson-gsm-container a:hover {

    color: #587792;
}

.vendor-container, .nokia-vendor-container, .ericsson-vendor-container {
    display: none;
    width: 180%;
    height: 100%;
    padding-top: 1%;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 2px 4px 0px #4e4e4e;
    overflow: auto;
    background-color: white;
    text-align: left;

}

.section {
    display: block;
    width: 35%;
    height: 100%;
}

.close-gsm {
    position: relative;
    width: 35px;
    height: 100%;
}

.pages-without-tech {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 97%;
    margin-left: 2% ;
    margin-right: 3%;
}

.pages-without-tech ul {
    list-style-type: none;
    margin-left: -20px;
}

.pages-without-tech li,
.gsm-options-container li,
.umts-options-container li,
.lte-options-container li,
.nr-options-container li,
.nokia-gsm-options-container li,
.nokia-umts-options-container li, 
.nokia-lte-options-container li, 
.nokia-nr-options-container li,
.ericsson-gsm-options-container li,
.ericsson-umts-options-container li, 
.ericsson-lte-options-container li, 
.ericsson-nr-options-container li  {

    /* margin-top: 0.8%; */
    margin-bottom: 2%;
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1%;
    font-size: 14px !important;
    color: #636363;
    list-style-type: '- ';
}
.nokia-lte-options-container li{
    color: #636363 !important;
}

.gsm-options-container li,
.umts-options-container li,
.lte-options-container li,
.nr-options-container li,
.nokia-gsm-options-container li,
.nokia-gsm-options-container li,
.nokia-umts-options-container li, 
.nokia-lte-options-container li, 
.nokia-nr-options-container li,
.ericsson-gsm-options-container li,
.ericsson-gsm-options-container li,
.ericsson-umts-options-container li, 
.ericsson-lte-options-container li, 
.ericsson-nr-options-container li  {
    list-style-type: '- ';
}

.gsm-options-container li a,
.umts-options-container li a,
.lte-options-container li a,
.nr-options-container li a,
.nokia-gsm-options-container li a,
.nokia-umts-options-container li a,
.nokia-lte-options-container li a,
.nokia-nr-options-container li a,
.ericsson-gsm-options-container li a,
.ericsson-umts-options-container li a,
.ericsson-lte-options-container li a,
.ericsson-nr-options-container li a {
    color: #636363 !important;
}

.lte-container,
.nr-container,
.umts-container,
.gsm-container,
.nokia-gsm-container,
.nokia-umts-container,
.nokia-lte-container,
.nokia-nr-container,
.ericsson-gsm-container,
.ericsson-umts-container,
.ericsson-lte-container,
.ericsson-nr-container,
.search-container  {
    display: none;
    width: 180%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 2px 4px 0px #4e4e4e;
    padding-top: 1%;
    overflow: auto;
    background-color: white;
    text-align: left;

}



.options-vendor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    width: 97%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: auto;
}
.options-vendor spam{
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #000000c0;
    font-size: 85% !important;
}

.gsm-options-container,
.umts-options-container,
.lte-options-container,
.nr-options-container,
.nokia-gsm-options-container,
.nokia-lte-options-container,
.nokia-umts-options-container,
.nokia-nr-options-container,
.ericsson-gsm-options-container,
.ericsson-lte-options-container,
.ericsson-umts-options-container,
.ericsson-nr-options-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-row-gap: 3em;
    width: 95%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
}

.gsm-options-container spam,
.umts-options-container spam,
.lte-options-container spam,
.nr-options-container spam,
.nokia-gsm-container spam,
.nokia-umts-container spam,
.nokia-lte-container spam,
.nokia-nr-container spam,
.ericsson-gsm-container spam,
.ericsson-umts-container spam,
.ericsson-lte-container spam,
.ericsson-nr-container spam {
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #000000c0;
    font-size: 85% !important;
}




::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 5px;

}

.tech-name {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 3%;
    font-size: 100% !important;
    color: #0c0c0c;
    margin-bottom: 1%;
    margin-top: 5%;
}

.leaflet-control-layers-selector label span input {
    display: inline-block;
}

.right-menu-nav-user a, .right-menu-nav-user a:visited {
    height: 100%;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-item2, .dropdown-item2:visited{
    color: black !important;

}
.section a, .section a:visited{
    /* color: black !important; */

}

.right-menu-nav-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#user-img {
    font-size: 2em !important;
    margin-right: 10px;
}

#user_info-drop {

    height: 100%;

}

.right-menu-nav-user a {

    font-size: 1.6vh !important;
}

.search-result-spam {
    font-size: 1.3em !important;
}

#user_info-menu {
    position: absolute !important;
    right: 0 !important;
    top:100%;

    background-color: white;
    padding-top: 0 !important;
    margin-top: 0 !important;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0 0px 5px 0px black;
    display: none;
    flex-direction: column;
    z-index: 9999;
    padding: 15px;
}
#user_info-menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    list-style-type: none;
    
}


#user_info a, #user_info a:visited{
    color: white !important;
}

.dropdown-item2{
    color: black !important;
}

.highcharts-container::after {
    content: '';
    background: url(/npsmart/images/geo_preta.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .5;
    position: absolute;
    right: -5px;
    bottom: 1px;
    width: 42px;
    height: 42px;
    transform: scale(0.7);
}

.highcharts-credits {
    display: none !important;
}
